@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* -------------------------------------Animations--------------------------- */

@keyframes intro{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes intro-d{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(-5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


/* -------------------------------------Navigation Bar--------------------------- */

.btn{
    text-decoration: none;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #C63D2F;
    z-index: 3;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    border: 2px solid #FFf;
}

/* -------------------------------------Navigation Bar--------------------------- */

#front{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C63D2F;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.img-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#front .img-title #logo{
    display: flex;
    height: 100px;
    mix-blend-mode:multiply;
    padding-right: 15px;
}


#front ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

#front ul li .navbar{
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
    transition: all 0.3s ease-in;
}

#front ul li .navbar:hover{
    font-size:large;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

#front ul li .navbar:focus{
    font-size:large;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

#icon{
    height: 30px;
    content: icon;
    mix-blend-mode: multiply;
}

/* -----------------------------------------------Hero section--------------------------------- */

.main{
    background-color:#FF9B50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #fff;
    padding-top: 40px;
}


.main .gallery{
    display: flex;
    flex-direction: row;
    animation: intro 2s ease-in 0s 1 ;
}

.main .gallery #pasta{
    height: fit-content;
    border-radius: 10px;
    position: relative;
    top: 25px;
    left: 40px;
    cursor: pointer;
   
    transition: all 0.5s ease;
}

.main .gallery #burger{
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    
    transition: all 0.5s ease;
}

.main .gallery #pizza{
    height: 200px;
    width: 270px;
    border-radius: 10px;
    position: relative;
    top: 25px;
    right: 40px;
    cursor: pointer;
    
    transition: all 0.2s ease;
}

.main .gallery #pizza:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 10px 0px #c63e2f53;
}

.main .gallery #burger:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 10px 0px #c63e2f53;
}

.main .gallery #pasta:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 10px 0px #c63e2f53;
}

.main .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    letter-spacing: 0px;
    font-size: 3rem;
    flex: 0.5;
    animation: intro-d 2s ease-in 0s 1;
}

.main .text h1{
    z-index: 1;
}

.main .text h1::before{
    content: " ";
    display: block;
    width: 90%;
    position: relative;
    top: 110px;
    left: 140px;
    z-index: -1;
    background-color: #C63D2F;
    border: 3px solid #C63D2F;
    height: 2px;
    transition: all 0.1s ease-in;
}

.main .text h1:hover::before{
    height:10px;
}

/* -----------------------------------------------Contact form--------------------------------- */

.contact-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
    background-image: url(background\ pattern.jpg);
    background-size: contain;
    background-color: #FF9B50;
    background-blend-mode: lighten;
    height: 100vh;
}

.contact-form .form-text h3{
    font-size: 2rem;
    padding: 5px;
    background-color:#C63D2F;
    color: #fff;
    margin: 5px;
}

.contact-form .form-text h6{
    font-size: 1em;
    padding: 5px;
    background-color:#C63D2F;
    color: #fff;
    margin: 5px;
}


.container{
    width: 30vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    background-color:#C63D2F;
    border-radius: 5px;
    box-shadow: 15px 15px 10px 0px #c63e2f53;
    padding: 20px;
}

.container h2{
    font-size: 3rem;
}
  
.container h2 {
    text-align: center;
    color: #fff;
}
 
.container label[for="name"], label[for="password"], label[for="email"], label[for="text-area"]{
    color: #fff;
}

.container input[type="text-area"],
.container input[type="text"],
textarea {
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    margin-bottom: 15px;
    background-color: #C63D2F;
    border-collapse: collapse;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #FF9B50;
}

.container input[type="text-area"]:focus,
.container input[type="text"]:focus,
textarea:focus {
    border-collapse: collapse;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #FF9B50;
    outline: none;
}

#text-input{
    height: 100px;
    width: 100%;
    
}
  
.container input[type="submit"] {
    padding: 10px;
    background-color:#FF9B50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s ease-in;
}
  
.container input[type="submit"]:hover {
    background-color: #FF9B50 ;
    font-size: large;
}

/* -----------------------------------------------Services--------------------------------- */

.services{
    color: #fff;
    height: 100vh;
    background-image: url(foodweb2.jpg);
    background-color: black;
    background-blend-mode:hard-light;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.services .opacity{
    background-color: #c63e2fac;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    border-radius: 20px;
    padding: 16px;
}

.services .opacity h3{
    font-size: 4rem;
}

.services .opacity h3 span{
    font-size: 5rem;
}

.services .opacity p{
    font-size: 1.5rem;
    padding: 10px;
}

.services .opacity button{
    color: #fff;
    background-color: #C63D2F;
    border:2px solid #fff;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.services .opacity button:hover{
    border-color: #C63D2F;
}

/*   Testimonials section */

.testimonials{
    background-color: #FF9B50;
    padding: 80px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
    
    overflow-x: auto;
    overscroll-behavior: contain;
    scroll-snap-type: x mandatory;
}
  
.testimonials .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    padding: 20px;
    background-color: #fff;
    color: #C63D2F;
    border-radius: 10px;
}

.testimonials .intro .profile{
    border-radius: 50%;
    border: 2px solid #C63D2F;
    position: relative;
    top: -75px;
    width: 80px;
    height: 80px;
}

/*     Footer    */

footer{
    background: #1f1d1d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    color: #fff;
    text-decoration: none;
}
